
<div class="panel dif freeze animated bounceInDown">
<section ng-controller="loginController">
  <div class="grid">
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form login" ng-submit="login()">
      <div class="form__field">
          <input id="login__username" type="text" name="username" ng-model="loginForm.username" class="form__input" placeholder="Username" required>
        </div>
        <div class="form__field">
            <input id="login__password" type="password" name="password" class="form__input" ng-model="loginForm.password" placeholder="Password" required>
          </div>
          <div class="form__field">
            <input type="submit" value="Login" ng-disabled="disabled">
          </div>
        </form>
        <p class="text--center">Not a member? <a href="#!signup">Sign up now</a></p>
      </div>
    </section>
</div>