	<div class="panel dif freeze animated bounceInDown">
          <h2>Welcome</h2>
          <div class="start">
            <a href="#!play">Start Game</a>
            <a href="#!play">About</a>
          </div>
        </div>	