<div class="panel dif freeze animated bounceInDown">
<section ng-controller="logoutController">
        <div class="grid">

      <form action="/player/register" method="POST" class="form login">

        <div class="form__field">
          <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
        </div>
        
        <div class="form__field">
          <input id="login__email" type="email" name="email" class="form__input" placeholder="Email" required>
        </div>
        
        <div class="form__field">
          <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
        </div>

        <div class="form__field">
          <input type="submit" value="Sign In">
        </div>

      </form>

      <p class="text--center">Already membre? <a href="#!login">login</a></p>

    </div>

</section>
</div>